version: "3.9"

services:
  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "3000:3000"
    networks:
      - shashi-custombridge

  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "3001:3001"
    networks:
      - shashi-custombridge

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "3002:3002"
    networks:
      - shashi-custombridge

  gateway-service:
    build: ./gateway-service
    container_name: gateway-service
    ports:
      - "3003:3003"
    networks:
      - shashi-custombridge
    depends_on:
      - user-service
      - product-service
      - order-service

networks:
  shashi-custombridge:
    driver: bridge

